subscription_id       = "77a533fe-dd68-4f86-b3bd-f13adaaa286a"
location              = "spaincentral"
resource_group_name   = "medibook-rg"
acr_name              = "medibookregistry"
container_app_name    = "medibook-app"
db_admin_username     = "postgres"
db_admin_password     = "VOTRE_MOT_DE_PASSE"
db_name               = "medibook"
jwt_secret            = "VOTRE_JWT_SECRET"
cloudinary_cloud_name = "VOTRE_CLOUDINARY_NAME"
cloudinary_api_key    = "VOTRE_CLOUDINARY_API_KEY"
cloudinary_api_secret = "VOTRE_CLOUDINARY_API_SECRET"
brevo_api_key         = "VOTRE_BREVO_API_KEY"
brevo_sender_email    = "bayebara2000@gmail.com"
brevo_sender_name     = "MediBook"
